<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>France.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,171}</string>
                <key>spriteSourceSize</key>
                <string>{256,171}</string>
                <key>textureRect</key>
                <string>{{1,1},{256,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Italy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,171}</string>
                <key>spriteSourceSize</key>
                <string>{256,171}</string>
                <key>textureRect</key>
                <string>{{259,1},{256,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Flags.png</string>
            <key>size</key>
            <string>{516,173}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:835f1996096350cd1b4e8da1d0ab5b1e:118f5892b9740861170dec6a92845b3b:fa0448fd1f8c3a32dbbd8cde72dc8024$</string>
            <key>textureFileName</key>
            <string>Flags.png</string>
        </dict>
    </dict>
</plist>
